 @import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway, Nunito, Roboto, Arial, sans-serif;
}

body {
  background: #ffffff;
  height: 100vh;
  font-family: Nunito, Roboto, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

#login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  margin-top: 50px;
  margin-left: 80px;
}

.out {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 50px;
}

.bottomline {
  color: #46319c;
  font-weight: 400;
  font-size: 20px;
}

.container {
  min-width: 500px;
  text-align: center;
  margin-top: 10px;
  padding: 5% 5% 1% 5%;
  box-shadow: 0px 0px 22.082px 3.753px rgba(70, 49, 156, 0.1);
}

.container > header {
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 35px;
  width: 300px;
  overflow: hidden;
}

.header-headings,
.section-headings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header-headings > span,
.section-headings > span {
  margin: 0;
  color: #46319c;
  font-weight: 400;
  line-height: normal;
}

.header-headings.sign-in,
.section-headings.sign-in {
  transform: translateY(0);
}

.header-headings.sign-up {
  transform: translateY(-35px);
}
.header-headings.forgot {
  transform: translateY(-70px);
}

.section-headings.sign-up {
  transform: translateY(-22px);
}
.section-headings.forgot {
  transform: translateY(-44px);
}

.container > section {
  font-size: 30px;
  font-weight: 700;
  margin: 30px auto 40px auto;
  position: relative;
  height: 25px;
  width: 350px;
  overflow: hidden;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .options {
    width: 100%;
  }

  .container {
    min-width: 300px;
  }
}

.options > li {
  cursor: pointer;
  color: #c9b7e2;
  font-weight: 400;
  transition: all 0.2s ease;
}

.options > li:hover {
  opacity: 1;
}

.options > li.active {
  color: #46319c;
}

.options > li:nth-of-type(2) {
  margin-left: 15px;
}

.options > li:last-of-type {
  margin-left: auto;
}

.account-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.account-form-fields {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields.sign-in {
  max-height: 123px;
}

.account-form-fields.sign-up {
  max-height: 250px;
}

.account-form-fields.forgot {
  max-height: 61px;
}

.account-form-fields > input {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  color: #000;
  border: 1.251px solid #c9b7e2;
}

.account-form-fields > input::placeholder {
  color: #c9b7e2;
}

.account-form-fields > input:focus {
  outline: none;
}

.btn-submit-form {
  margin-top: 20px;
  padding: 3% 5%;
  width: fit-content;
  border: 0;
  appearance: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  background: #46319cde;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
}

.btn-submit-form:hover {
  background: #46319c;
}

.btn-submit-form:active,
.btn-submit-form:focus {
  outline: none;
  background: #46319c;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  text-align: center;
}

footer > a {
  color: #fff;
  font-weight: 700;
} 